.singleCourse{
   border: 4px solid rgb(242, 241, 240);
   border-radius: 8px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   -ms-border-radius: 8px;
   -o-border-radius: 8px;
   background: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
   height: 400px;
}
.courseText{
   margin-top: 20px;
   padding: 5px;
   margin-bottom: 10px;
}
.singleCourse a{
   margin-top: 10px;
   bottom: 10px;
   justify-content: center;
   text-align: center !important;
  
}