.fullDetails{
    display: grid;
    grid-template-columns: 4fr 5fr;
    gap: 20px;
    margin: 10px 60px;
}
.MainTitle h1{
    font-size: 40px;
    font-weight: 700;
    color: #03544c;
    margin: 10px 0;
    padding: 10px;
    text-align: center;
}.CourseImg{
    border: 5px solid rgb(255, 255, 255);
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.courseDetails{
    background-color: white;
    padding: 0 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    height: 350px;
}

.CourseImg img{
    width: 100%;
    height: 300px !important;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
.buttonDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


@media screen and (min-width: 781px) and (max-width: 1050px){
    .fullDetails{
        display: grid;
        grid-template-columns: 4fr 5fr;
        gap: 20px;
        margin: 10px 60px;
    }
    .buttonDiv button{
        padding: 10px 12px !important;
    }
    
}
@media screen and (min-width: 200px) and (max-width: 780px){
    .fullDetails{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
        margin: 10px 60px;
    }
    .buttonDiv{
        display: block !important;
    }
    .buttonDiv button{
        padding: 8px 12px !important;
    }
    
}
