.signUp,
.loginRegister a {
  background: #4fc2a0;
  border: 1px solid #4fc2a0;
  margin: 0 3px;
}
ul a {
  color: #4fc2a0 !important;
}
@media screen and (min-width: 200px) and (max-width: 770px) {
  .Hidden {
    display: block;
    font-size: 40px;
    font-weight: 600;
    color: #4fc2a0;
    cursor: pointer;
  }
  .loginRegister button {
    display: none;
  }
  .openMenu button {
    padding: 10px;
    text-align: center;
  }
  .openMenu ul a {
    display: block !important;
    top: 200px !important;
  }
  .openMenu ul {
    position: absolute;
    top: 98px;
    margin-top: 80px;
    top: 8px ;
    right: 22px;
    display: block;
    z-index: 1000 !important;
    padding: 10px !important;
    background: whitesmoke;
    box-shadow: rgb(0 0 0 / 5%) 0px 6px 24px 0px, rgb(0 0 0 / 8%) 0px 0px 0px 1px;
    border-radius: 5px;
  }
  .menubar{
    display: none;
  }
}
@media screen and (min-width: 771px) {
  .Hidden {
    display: none;
    font-size: 40px;
    font-weight: 600;
    color: #4fc2a0;
    cursor: pointer;
  }
}

.openMenu ul a {
  margin: 20px !important;
  display: inline;
}


.loginRegister {
  display: flex;
  align-items: center;
}
.loginRegister button {
  padding: 12px 20px !important;
  color: white;
  font-weight: 600;
}
.menuContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.menubar li a {
}
